.product{
    width:300px;
    padding: 10px;
    margin: 10px;
    border:1px solid gray;
}
.product img{
    width:100%;
    height: 200px;
     
}
.main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

    
}