<p>Products</p>
<div class="main">
    <div class="product" *ngFor="let p of products">
        <img src="{{p.image}}" >
        <p>Id:{{p.id}}</p>
        <p>Price:{{p.price}}</p>
        <button class="btn btn-primary" (click)="add(p)">Add</button>
        <button class="btn btn-info" (click)="detailes(p)" data-bs-toggle="modal" data-bs-target="#myModal">Detailes</button>
    </div>
    <!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title ">{{suri?.title}}</h4>
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div class="babu">
          <img  style="width:300px;height:200px;" src="{{suri?.image}}" alt="">
          <p class="data text-center"><b>Title:</b>{{suri.title}}</p>
    <p class="data text-center "><b>Id:</b>{{suri.id}}</p>
    <p class="data text-center"><b>Cost:</b>{{suri.price}}
    </p>
    </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>

</div>